
    <div class="container" style= "margin-top: 7rem; width: 100%;">
        <div class="row">
            <div class="col">
                <div class="card md-3">
                    <div class="card-header" style= "font-weight: bold;">
                        <div class="row">
                            <div class="col-9">
                                <h5>Items</h5>
                                <span>{{selectedProductCount}}/{{shoppingcartItems.length}} of is selected</span>
                            </div>
                            <div class="col-3" style= "margin-top: 4px;">{{totalCartAmount|currency:"INR":"symbol"}}</div>
                        </div>
                    </div>
                    <div class="card-body">
                        <ul class= "list-group">                        
                            <li class="list-group-item" *ngFor= "let cartItem of shoppingcartItems; let cartIndex= index" style= "line-height: 6rem;">
                                <div class="row">                                  
                                      <!-- <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                                        <label class="form-check-label" for="flexCheckChecked">
                                          Checked checkbox
                                        </label>
                                      </div> -->
                                    <div class="col-1" style= "margin-top: 2rem;">
                                        <input class="form-check-input click customcheck" type="checkbox"  [(ngModel)]="cartItem.isAddedtocart" 
                                        (change)= "updateShoppingCart(cartIndex)" id="flexCheckChecked_{cartIndex}" >
                                    </div>  
                                    <div class="col-2">                                        
                                        <img src="{{cartItem.imageUrl}}" style="width: 40px; height : 40px">
                                    </div>
                                    <div class="col-2">{{cartItem.productName}}</div>
                                    <div class="col-2">{{cartItem.price|currency:"INR":"symbol"}}</div>
                                    <div class="col-3">
                                        <div class="input-group" style= "margin-top: 2rem;">
                                            <span class="input-group-text click" (click)= "decreaseProductCount(cartIndex)">-</span>
                                            <input type="text" class="form-control" name= "quantity" [(ngModel)]= "cartItem.quantity">
                                            <span class="input-group-text click" (click)= "increaseProductCount(cartIndex)">+</span>
                                          </div>
                                    </div>
                                    <div class="col-2 click" (click)= "deleteCartProduct(cartIndex)" style= "font-weight: bold;"><i class= "fa fa-trash" data-toggle= "tooltip" title= "delete"></i></div>
                                </div>
                            </li>
                        </ul>                    
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <h5>Payment Details</h5>
                    </div>
                    <div class="card-body">
                        <ul class= "list-group" style= "font-weight: bold; line-height: 5rem;">
                            <li class= "list-group-item">Mrp Total
                                <span style= "float: right;">{{totalCartAmount|currency: "INR":"symbol"}}</span>                                                     
                            </li>
                            <li class= "list-group-item">Total Amount 
                                <span style= "float: right;">{{totalCartAmount|currency: "INR":"symbol"}}</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div><br>
        <button class= "btn btn-primary" [disabled]="shoppingcartItems.length===0" style= "float: right" (click)= "placeOrder()">Place Order</button>    
    </div>
    <!-- place order model warning -->

    <div class="modal" id="placeOrderModal" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Warning</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row justify-content-md-center">
            <div class="card">
              <div class="card-body">  
                  <h4>Please login to continue</h4>              
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" data-bs-dismiss="modal" data-bs-target= "#placeOrderModal">Close</button>
        <button class="btn btn-primary" >Continue</button>
      </div>
    </div>
   
  </div>
</div>

